* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: #EEF5FF;
    z-index: 1;
}

nav>.logo {
    display: flex;
    gap: 20px;

}


nav>.logo>h1 {

    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
}

nav>.logo>img {
    object-fit: contain;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav>ul>li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;


}

nav>ul>li:nth-child(6) {
    text-transform: uppercase;
}

nav>ul>li::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    background-color: green;
    height: 2px;
    transition: width 0.5s ease-in;
}

nav>ul>li:hover::after {
    width: 100%;
}

nav>.btn>button {
    cursor: pointer;
    padding: 10px 20px;
}

nav>.btn>button:nth-child(1) {
    border: none;
    background-color: transparent;
    color: green;
    font-size: 20px;
}

nav>.btn>button:nth-child(2) {
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 10px 40px;

    border-radius: 10px;

}

.hamMenu {
    display: none;
}

.hamMenu>.listbox {
    display: none;
}

@media (max-width:1103px) {
    nav {
        justify-content: space-between;
        padding: 0px 20px;
    }

    nav>.logo {
        display: flex;
        gap: 0px;
    }

    nav>.logo>h1 {
        gap: 0%;
        font-size: 1.5rem;

    }

    nav>ul {
        font-size: 0.9rem;
        gap: 30px;
    }
}

@media (max-width:1010px) and (min-width:800px) {
    nav>.logo {
        display: flex;
        gap: 0px;
    }

    nav>ul {

        gap: 20px;
    }

    nav>ul>li {

        font-size: 16px;


    }
}

@media (max-width: 820px) {
    nav {
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }

    nav>ul {
        display: none;
    }

    nav>.btn {
        display: none;
    }

    .hamMenu {
        display: block;
    }

}


/* ! main */

main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EEF5FF;
}

main>.left>h1 {
    font-size: 5rem;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 20px 40px;
}

main>.left>h1>span {
    color: green;
}

main>.left>p {
    color: #AAAAAA;
    margin: 20px 0px;
    font-size: 15px;
    word-spacing: 0px;
    padding: 0px 40px;
}

main>.left>button {
    padding: 10px 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 40px;
}

@media (max-width:1317px) {
    main>.left>h1 {
        font-size: 3rem;


    }
}

@media (max-width:1120px) {
    main>.left>h1 {
        font-size: 3rem;


    }

    main>.right>img {

        width: 300px;
    }
}

@media (max-width:895px) {
    main>.left>h1 {
        font-size: 2.5rem;


    }
}

@media (max-width:820px) {
    main {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 60px;
        align-items: center;
        height: fit-content;

    }

    main>.left {
        text-align: center;
        margin-bottom: 30px;
    }

    main>.right>img {
        padding-top: 100px;

    }

    main>.left>button {
        margin-left: 0%;
    }
}

@media (max-width:596px) {
    main>.left>h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:520px) {
    main>.left>h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:510px) {
    main>.left>h1 {
        font-size: 2rem;
    }
}

@media (max-width:450px) {
    main>.left>h1 {
        font-size: 2rem;
    }

    main>.left>p {
        font-size: 0.9rem;
        padding: 0px 30px;
    }

    main>.right>img {
        padding-top: 100px;
        width: 300px;
    }
}

@media (max-width:425px) {
    main>.left>h1 {
        font-size: 1.5rem;
        padding-bottom: 0%;
    }

    main>.left>p {
        font-size: 0.9rem;

    }
}

@media (max-width:400px) {
    main>.left>h1 {
        font-size: 1.2rem;
        padding-bottom: 0%;
    }

    main>.left>p {
        font-size: 0.9rem;

    }

    main>.right>img {

        width: 300px;
    }
}

@media (max-width:380px) {
    main>.left>h1 {
        font-size: 1.2rem;
        padding-bottom: 0%;
    }

    main>.left>p {
        font-size: 0.6rem;

    }
}

/* ! clients */

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clients>.texts>h1 {

    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 5px;
}

.clients>.texts>p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #AAAAAA;
}

.clients .clientLogo {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    /* background-color: red; */

}

.clientLogo>img {
    object-fit: cover;
    /* transition: transform 0.5s ease-in-out; */
    animation: floating 3s linear infinite alternate;
}

.clientLogo>img:hover {
    animation-play-state: paused;
}

@keyframes floating {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 1.5rem);
    }
}


@media (max-width:430px) {
    .clients>.texts>h1 {
        font-size: 2.5rem;

    }

    .clients>.texts>p {
        font-size: 1rem;
        margin-bottom: 5px;


    }

    .clientLogo>img {
        width: 30px;
    }

}

@media (max-width:420px) {
    .clients>.texts>h1 {
        font-size: 2rem;
    }

    .clients>.texts>p {
        font-size: 1rem;
        padding: 0px 30px;


    }
}

@media (max-width:390px) {
    .clients>.texts>h1 {
        font-size: 1.1rem;
    }

    .clients>.texts>p {
        font-size: 0.7rem;
        padding: 0px 30px;


    }
}

/* ! community */
.community {
    margin-top: 30px;
}

.community>.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.community>.heading>h1 {
    padding: 20px 40px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.community>.heading>h1>span {
    color: green;
}

.community>.heading>p {
    font-size: 1rem;
    color: #AAAAAA;
}

/* * Cards* */

.community>.listOfcard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.community>.listOfcard {
    margin-top: 40px;
    margin-bottom: 40px;
}

.community>.listOfcard>.cards {
    text-align: center;
    padding: 20px 30px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0.1px 0.4px 6px black;
    transition: transform 2s ease-in-out;
    cursor: pointer;
}

.community>.listOfcard>.cards>h1 {
    margin-bottom: 20px;

}

.community>.listOfcard>.cards>p {
    font-size: small;

}

.community>.listOfcard>.cards:hover {
    transform:
        scale(1.05);
}

@media (max-width:1000px) {
    .community>.listOfcard {

        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 0px 30px;


    }

    .community>.listOfcard>.cards {
        width: 100%;
        height: fit-content;


    }


}

@media (max-width : 560px) {
    .community>.heading>h1 {
        font-size: 2rem;

    }

    .community>.listOfcard>.cards>h1 {
        font-size: 1.2rem;
    }
}

@media (max-width:520px) {
    .community>.heading>h1 {
        font-size: 1.5rem;

    }
}

@media (max-width:423px) {
    .community>.heading>h1 {
        font-size: 1.1rem;
        /* background-color: red; */
        font-weight: bolder;

    }

    .community>.listOfcard>.cards>p {
        font-size: 0.8rem;
    }

}

@media (max-width:341px) {
    .community>.heading>h1 {
        font-size: 0.9rem;
        font-weight: bolder;

    }

    .community>.heading>p {
        font-size: 0.9rem;
        font-weight: bolder;

    }



}


/* ! Section 3 */
.section3 {
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.section3 .poster>img {
    width: 100%;
    object-fit: cover;
}

.section3>.text {
    width: 700px;
}

.section3>.text>h1 {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section3>.text>.btn {
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3>.text>.btn>button {
    text-align: center;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    cursor: pointer;
}

@media (max-width:1112px) {
    .section3>.text>h1 {

        font-size: 2rem;

    }
}

@media (max-width:1006px) {
    .section3 {

        flex-direction: column;
        gap: 0px;

    }

    .section3>.text {
        width: 100%;
    }
}

@media (max-width:513px) {
    .section3>.text>h1 {

        font-size: 1.5rem;

    }
}

@media (max-width:454px) {
    .section3>.text>h1 {

        font-size: 1rem;

    }

    .section3>.text>p {

        font-size: 0.5rem;

    }
}

@media (max-width:415px) {
    .section3>.text>h1 {
        font-weight: bolder;
        font-size: 0.9rem;

    }

    .section3>.text>p {

        font-size: 0.8rem;

    }
}

/* ! section4 */
.section4 {
  overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 40px;
    background-color: #EEF5FF;
}

.section4>.left {
    padding: 20px 30px;
}

.section4 > .MainRight{
    display: flex;
}
.section4>.MainRight>.right1,
.right2 {
    /* text-align: center; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.section4>.MainRight>.right1>.stats {
    display: flex;
    gap: 20px;
}

.section4>.MainRight>.right1>.stats>img {
    width: 35px;
    object-fit: contain;
}

.section4>.MainRight>.right2>.stats>img {
    width: 35px;
    object-fit: contain;
}

.section4>.MainRight>.right2>.stats {
    display: flex;
    gap: 20px;
}

@media (max-width:1192px) {
    .section4>.left>h1 {
        font-size: 1.5rem;
    }

    .section4>.left>p {
        font-size: 0.8rem;
    }

}

@media (max-width:1009px) {
    .section4 {
        padding: 10px 20px;
    }

    .section4>.MainRight>.right1,
    .right2 {
        /* text-align: center; */
        padding: 10px 20px;
        display: flex;
        gap: 20px;

    }


}

@media (max-width:966px) {
    .section4 {
        flex-direction: column;
    }

    .section4>.MainRight {
        display: flex;
    }

    .section4>.MainRight>.right1>.stats>img {
        width: 50px;

    }

    .section4>.MainRight>.right2>.stats>img {
        width: 50px;

    }
}

@media (max-width:800px) {
    .section4>.MainRight>.right1>.stats>img {
        width: 30px;

    }

    .section4>.MainRight>.right2>.stats>img {
        width: 30px;

    }
}

@media (max-width:720px) {

    /* .section4 > .MainRight {
        width: 100%;
        flex-direction: column;
        align-items: start;
    } */
    .section4>.MainRight>.right1 {
        flex-direction: column;
        justify-content: start;
    }

    .section4>.MainRight>.right2 {
        flex-direction: column;
        justify-content: start;
    }
}

@media (max-width:580px) {
    .section4>.left>h1 {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media (max-width:468) {
    .section4>.left>h1 {
        font-size: 0.9rem;
        font-weight: 700;
    }
}

@media (max-width:421px) {
    
    .section4>.MainRight>.right1 .content>p {
        font-size: 0.8rem;
        
    }
    
    .section4>.MainRight>.right2 .content>p {
        font-size: 0.8rem;
    }
}
@media (max-width:399px) {
    .section4>.MainRight>.right1 {
        
    }
    
    .section4>.MainRight>.right1 .content>p {
        font-size: 0.7rem;
        
    }
    
    .section4>.MainRight>.right2 .content>p {
        font-size: 0.7rem;
    }
}

@media (max-width:348px) {
    .section4>.left>h1 {
        font-size: 0.8rem;
        font-weight: 700;
        
    }
    .section4>.left>p {
        font-size: 0.7rem;
        
    }
    .section4>.MainRight>.right1 , .right2 {
        padding: 0px;
    }
    .MainRight{
        padding: 10px 40px;
    }
}

/* !Section 5 */
.section5{
    margin-top: 20px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 >.right{
    width: 660px;
    overflow: hidden;
    
}
.section5 >.right >.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 >.right >.btn > button{
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width:1006px) {
    .section5{
        flex-direction: column;
        gap: 10px;
    }
    .section5 > .right{
        width: fit-content;
    }
}

@media (max-width:500px) {
    .section5 > .left > img{
        width: 300px;
    }
    .section5 > .right > h1{
        font-size: 20px;
    }
    .section5 > .right > p{
        font-size: 15px;
    }
}
@media (max-width:430px) {
    .section5{
        padding: 0px 0px;
    }
    .section5 > .right{
        padding: 10px 20px;
    }
    .section5 > .right > h1{
        font-size: 15px;
        font-weight: 700;
    }
    .section5 > .right > p{
        font-size: 10px;
    }
    /* .section5 > .right > .btn > button{
        padding: 10px 20px;
    } */
}